.body {
    border: 1px solid rgb(180, 217, 233);
    margin: auto;
    width: 13%;
    background-color: #9dd2ea;
    border-radius: 3px;
}

.calculator {
    margin: auto;
    background-color: #9dd2ea;
    text-align: center;
    border-collapse: collapse;
    width: 0%;
    height: 300px;
}

.display-box {
    margin: auto;
    width: 100%;
}

td {
    text-align: center;
}
.number {
    background-color: #04AA6D;
    color: white;
    text-decoration: none;
    cursor: pointer;
}